
@{
    Layout = "~/Views/WelcomeHome/_Layout.cshtml";
    ViewBag.Title = "Welcome To Sawa2ly";
}


<head>

</head>
<div class="mt-5"></div>
<section class="latest py-5" id="latest">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>20 Years of Experience in Marketing Services.</h2>
                <p class="py-3">Sawa2ly is a commerce management system that allows customers that have Products to be able to Market their products by communicating with Marketing Directors and Marketing Team Leaders to market their products in an easy and professional way. .</p>
                <button type="button" class="btn btn-outline-danger mb-3">Find Out More About us</button>
            </div>
            <div class="col-md-4 latest-box">
                <a href="#">
                    <img class="no-mp" src="~/Sources/home.jpg">
                    <div class="">
                        <div class="bg-red card-body">
                            <h5>Financial Services</h5>
                        </div>
                    </div>
                </a>

            </div>

        </div>
    </div>
</section>
