@using Microsoft.AspNet.Identity
@using Sawa2ly.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()
        <li>
            <a href="@Url.Action("RedirectToProfile", "Home")">
                <i class="fa fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fa fa-sign-out-alt "></i>
                <span>Logout</span>
            </a>
        </li>
    }
}
else
{
    <li>
        <a href="#" data-toggle="modal" data-target="#popUpWindow">
            <i class="fa fa-sign-in-alt"></i>
            <span>Login</span>
        </a>
    </li>
  
}




  
