
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminsDash/_LayoutA.cshtml";
}

<div class="mt-5"></div>
<section class="latest py-5" id="latest">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
                <h2>Admin.</h2>
            </div>

        </div>
    </div>
</section>