@using Sawa2ly.Extensions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminsDash/_LayoutA.cshtml";
}


    <div class="container">
        <div class="row" style="box-shadow: 0px 0px 10px #ccc;border-radius:10px;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="@Url.Content(User.Identity.GetUserImageUrl())" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @String.Concat(User.Identity.GetUserFName(), " ", User.Identity.GetUserLName())
                        </div>
                        <div class="profile-usertitle-job">
                            Admin
                        </div>
                        <div class="profile-usertitle-job">
                            @User.Identity.GetUserEmail()
                        </div>
                        <div class="profile-usertitle-job">
                            @User.Identity.GetUserPhoneNumber()
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
