
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminsDash/_LayoutA.cshtml";
}


    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="~/Sources/blur.jpg" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Adel Reda
                        </div>
                        <div class="profile-usertitle-job">
                            Markting Director
                        </div>
                        <div class="profile-usertitle-job">
                            adelredaa97@gmail.com
                        </div>
                        <div class="profile-usertitle-job">
                            01279767022
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
