
@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/AdminsDash/_LayoutA.cshtml";
}

<h2 style="margin-bottom:50px;">All Users</h2>

<style>
    .profile-img img {
        width: auto;
        height: 100px;
    }

    .info {
        display: inline-block;
        margin-right: 10px;
        color: #777;
    }

        .info span {
            font-weight: bold;
        }
</style>
<div class="container">

    <div class="row">
        <div class="list-group container-fluid">
            <div class="list-group-item clearfix">
                <div class="profile-teaser-left col-lg-3">
                    <div class="profile-img"><img src="~/Sources/avatar.png" /></div>
                </div>
                <div class="profile-teaser-main col-lg-9">
                    <div class="row">
                        <h2 class="col-lg-5">Name</h2>
                        <div class="row col-lg-4" style="padding-top:15px">
                            <form action="" method="post" style="margin-right:10px">
                                <button class="btn btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
                            </form>
                            <form action="" method="post">
                                <input type="submit" class="btn btn-danger" value="Delete" style="margin-top:0" />
                            </form>
                        </div>
                    </div>
                    <div class="row col-lg-8" style="margin-top:10px;">
                        <div class="info"><span class="">Info:</span> Marketing Director</div>
                        <div class="info"><span class="">Email:</span>adelredaa97@gmail.com</div>
                    </div>
                </div>
            </div><!-- item -->
        </div>
    </div>

    <div class="row">
        <div class="list-group container-fluid">
            <div class="list-group-item clearfix">
                <div class="profile-teaser-left col-lg-3">
                    <div class="profile-img"><img src="~/Sources/avatar.png" /></div>
                </div>
                <div class="profile-teaser-main col-lg-9">
                    <div class="row">
                        <h2 class="col-lg-5">Name</h2>
                        <div class="row col-lg-4" style="padding-top:15px">
                            <form action="" method="post" style="margin-right:10px">
                                <button class="btn btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
                            </form>
                            <form action="" method="post">
                                <input type="submit" class="btn btn-danger" value="Delete" style="margin-top:0" />
                            </form>
                        </div>
                    </div>
                    <div class="row col-lg-8" style="margin-top:10px;">
                        <div class="info"><span class="">Info:</span> Marketing Director</div>
                        <div class="info"><span class="">Email:</span>adelredaa97@gmail.com</div>
                    </div>
                </div>
            </div><!-- item -->
        </div>
    </div>

    <div class="row">
        <div class="list-group container-fluid">
            <div class="list-group-item clearfix">
                <div class="profile-teaser-left col-lg-3">
                    <div class="profile-img"><img src="~/Sources/avatar.png" /></div>
                </div>
                <div class="profile-teaser-main col-lg-9">
                    <div class="row">
                        <h2 class="col-lg-5">Name</h2>
                        <div class="row col-lg-4" style="padding-top:15px">
                            <form action="" method="post" style="margin-right:10px">
                                <button class="btn btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
                            </form>
                            <form action="" method="post">
                                <input type="submit" class="btn btn-danger" value="Delete" style="margin-top:0" />
                            </form>
                        </div>
                    </div>
                    <div class="row col-lg-8" style="margin-top:10px;">
                        <div class="info"><span class="">Info:</span> Marketing Director</div>
                        <div class="info"><span class="">Email:</span>adelredaa97@gmail.com</div>
                    </div>
                </div>
            </div><!-- item -->
        </div>
    </div>

    <div class="row">
        <div class="list-group container-fluid">
            <div class="list-group-item clearfix">
                <div class="profile-teaser-left col-lg-3">
                    <div class="profile-img"><img src="~/Sources/avatar.png" /></div>
                </div>
                <div class="profile-teaser-main col-lg-9">
                    <div class="row">
                        <h2 class="col-lg-5">Name</h2>
                        <div class="row col-lg-4" style="padding-top:15px">
                            <form action="" method="post" style="margin-right:10px">
                                <button class="btn btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
                            </form>
                            <form action="" method="post">
                                <input type="submit" class="btn btn-danger" value="Delete" style="margin-top:0" />
                            </form>
                        </div>
                    </div>
                    <div class="row col-lg-8" style="margin-top:10px;">
                        <div class="info"><span class="">Info:</span> Marketing Director</div>
                        <div class="info"><span class="">Email:</span>adelredaa97@gmail.com</div>
                    </div>
                </div>
            </div><!-- item -->
        </div>
    </div>

    <div class="row">
        <div class="list-group container-fluid">
            <div class="list-group-item clearfix">
                <div class="profile-teaser-left col-lg-3">
                    <div class="profile-img"><img src="~/Sources/avatar.png" /></div>
                </div>
                <div class="profile-teaser-main col-lg-9">
                    <div class="row">
                        <h2 class="col-lg-5">Name</h2>
                        <div class="row col-lg-4" style="padding-top:15px">
                            <form action="" method="post" style="margin-right:10px">
                                <button class="btn btn-default"><i class="fa fa-fw fa-eye"></i> Show</button>
                            </form>
                            <form action="" method="post">
                                <input type="submit" class="btn btn-danger" value="Delete" style="margin-top:0" />
                            </form>
                        </div>
                    </div>
                    <div class="row col-lg-8" style="margin-top:10px;">
                        <div class="info"><span class="">Info:</span> Marketing Director</div>
                        <div class="info"><span class="">Email:</span>adelredaa97@gmail.com</div>
                    </div>
                </div>
            </div><!-- item -->
        </div>
    </div>
    

</div>